html {
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
  background: linear-gradient(to right, #ffc600, #f76218);
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.logo {
  margin-top: 4px;
}

img {
  max-width: 10rem;
  margin: 0;
}
em {
  margin-bottom: 7px;
}

.punchline {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.description {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  max-width: 50rem;
  margin: 12px;
  margin-bottom: 4px;
}

.panels {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  border: solid 0px #05161a;
  border-radius: 8px;
  width: 80rem;
  margin: 0 auto;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.panel1 {
  background-image: url(/src/Image3.avif);
  background-image: url(/src/Image3.webp);
  background-size: cover;
}
.panel2 {
  background-image: url(/src/Image4.avif);
  background-image: url(/src/Image4.webp);
  background-size: cover;
}
.panel3 {
  background-image: url(/src/Image8.avif);
  background-image: url(/src/Image8.webp);
  background-size: cover;
}
.panel4 {
  background-image: url(/src/Image2.avif);
  background-image: url(/src/Image2.webp);
  background-size: cover;
}
.panel5 {
  background-image: url(/src/Image5.avif);
  background-image: url(/src/Image5.webp);
  background-size: cover;
}

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

.custom-tooltip-container {
  position: relative;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.custom-tooltip-btn {
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 123, 255, 0.4);
}

.custom-tooltip-btn:hover {
  background-color: #0056b3;
}

.custom-tooltip-content {
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  width: 300px;
  background: linear-gradient(135deg, #007bff 0%, #00c6ff 100%);
  color: #0b0404;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  border-radius: 15px;
  transition: all 0.4s ease;
  z-index: 1;
  box-shadow: 0px 10px 20px rgba(0, 123, 255, 0.3);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.custom-tooltip-container:hover .custom-tooltip-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

.custom-tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #007bff;
}

.custom-tooltip-text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
